.header{
    
}
.form_add_worker_admin{
    display: block;
}
.header_welcome ,
.button_close_allProject,
.worker_form,
.name_form_worker,
.btn_accept_formNewUser{
    display: flex;
    justify-content: center;
}

.navigation , 
.navigation_project,
.close_all_project {
    display: flex;
    margin: 0%;
    padding: 20px;
    justify-content: center;
}
.button_close ,
.all__Project {
    display: flex;
    justify-content: center;
}

.open_monitoring_project ,
.worker_hours , 
.worker_money ,
.reports ,
.Close_navigation_project ,
.workers_all{
    width: 150px;
    max-width: 500px;
    min-width:150px ;
    max-height: 500px;
    min-height: 20px;
    height: 50px;
}

.monitoring_project , 
.monitoring_worker_working_hours,
.monitoring_money_working_and_teamLeed,
.monitorung_report_working_databace,
.all_workers{
    padding: 30px;

}

.project,.tableAll_project ,
.project button ,
.delete_project_img,
.btn_accept_formNewUser button{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    padding-left: 20px;
}