<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Manager</title>
</head>
<body>
<h1>Welcome our great admin!</h1>

<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Last name<</th>
        <th>Age</th>
        <th>Enabled</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${admin}">
        <td th:text="${admin.id}">User ID</td>
        <td th:text="${admin.username}">Name</td>
        <td th:text="${admin.lastName}">Last Name </td>
        <td th:text="${admin.age}">Age</td>
        <td th:text="${admin.enabled}">Enabled</td>
        <td><span th:each="roles : ${admin.getRoles()}" th:utext= "${roles.toString()}+'  '">Roles</span></td>
    </tr>
    </tbody>
</table>
<br><br>
<a th:href="@{/logout}">Logout</a>
<br><br>
</body>
</html>