<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
    <link th:href ="@{css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="/src/main/resources/static/css/animation.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/style.css">
</head>
<body>
<div class = "header_welcome">
    <h1 class = "welcome">Welcome to Admine Panel!</h1>
</div>

<main>
    <div class = "header">
        <div id ="header_projects_all_buttons" class = "header_project">
            <nav class = "navigation">
                <ul class ="navigation_project">
                    <li class = "monitoring_project"><button id ="btn_monitoring" class ="open_monitoring_project">Open All Project</button></li>
                    <li class = "monitoring_worker_working_hours"><button class = "worker_hours">Worker Hours</button></li>
                    <li class = "monitoring_money_working_and_teamLeed"><button class ="worker_money">money Worker</button></li>
                    <li class = "monitorung_report_working_databace"><button class ="reports">Reports</button></li>
                </ul>
            </nav>
        </div>
        <div id ="all_projects" class="header_all_project">
            <div class = "all Project">
                <h2>All Project</h2>
            <tr class = "tableAll_project">
                <td class = "project_1"><button>Amazon</button> <button class = "delete_project"><img src="" alt=""></button></td>
                <td class = "project_2"><button>Sberbank</button></td>
                <td class = "project_3"><button>Wildberes</button></td>
            </tr>
            <button id = "btn_close_TableAll" class = "close_all_project">Close</button>
        </div>

        <div id ="Panel_delete_project" class ="warning_DeleteProject">
            <h2>Do you want delete Project</h2>
            <button id="deleteBTN_project">Yes</button>
            <button ide="deletBTN_not_project">No</button>
        </div>

        <div class = "worker_from_poject">
            <h2>Your worker</h2>
            <div class="worker_statistic">
                <div class = "team_lead_workers">
                    <button><img src="" alt=""> <p>Dmytriy Medovuhin</p><h2>Team Leed</h2></button>
                </div>
                <ul class = "workers">
                    <li><button><img src="" alt=""> <p>Daniil Rybiakov</p> <p>Java Developer</p> <p>Midle</p></button></li>
                    <li><button><img src="" alt=""> <p>Alexandr Patochkin</p> <p>Java Developer</p> <p>Junior</p></button></li>
                    <li><button><img src="" alt=""> <p>Antonova Nastia</p> <p>Java Developer</p> <p>Junior</p></button></li>
                    <li><button><img src="" alt=""> <p>Nikolay Stepanovitch</p> <p>Java Developer</p> <p>Midle</p></button></li>
                    <li></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</main>
<script src ="/src/main/resources/static/js/script.js"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>