<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>For User</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>

<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Last name<</th>
        <th>Age</th>
        <th>Enabled</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${user}">
        <td th:text="${user.id}">User ID</td>
        <td th:text="${user.username}">Name</td>
        <td th:text="${user.lastName}">Last Name </td>
        <td th:text="${user.age}">Age</td>
        <td th:text="${user.enabled}">Enabled</td>
        <td><span th:each="roles : ${user.getRoles()}" th:utext= "${roles.toString()}+'  '">Roles</span></td>
    </tr>
    </tbody>
</table>
<br><br>
<a th:href="@{/logout}">Logout</a>
<br><br>
</body>
</html>